* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 5vw;
}
input {
  margin: 1.5vw;
}
#inputs {
  display: flex;
  flex-flow: column wrap;
}
#container {
  padding: 3vw;
}

.box {
  border-radius: 0.8rem;
  border: 0.2vw solid grey;
  width: 200px;
  height: 200px;
}
